{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Rosamenina - Stock</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="{% static 'store/home.css' %}" rel="stylesheet">
        <style>
            body{
                background-color:#fff;
            }
            .card-img-top {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        </style>
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg" style="background-color: #f8b3d0;">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand my-2" href="{% url 'ProductListView' %}" style="color:#ffffff;"><strong> Rosamenina </strong></a>
                <div class="input-group search-bar" id="navbarSupportedContent">
                    
                    <form method="GET" action="{% url 'ProductListView' %}" class="d-flex m-auto">
                        <input class="form-control me-2 Small shadow" type="text" name="q" placeholder="Pesquisar" aria-label="Search" style="width: 700px;">
                        <button class="btn bs-3 Small shadow" style="background-color: #f188b4; color: #fff;" type="submit"><i class="bi bi-search"></i></button>
                    </form>                    
                    </div>

                    <div class="d-flex ms-auto me-3">
                        <a class="btn Small shadow" style="background-color:#f188b4; color: #fff;" href="{% url 'productCreate' %}"><i class="bi bi-database-add"></i></a>
                    </div>

                    <div class="d-flex ms-auto">
                        <a class="btn Small shadow" style="background-color:#f188b4; color: #fff;" href="{% url 'saleList' %}"><i class="bi bi-journal-text"></i></a>
                    </div>

                </div>
            </div>
        </nav>

        <!-- Header-->
        <header class="py-5" style="background-color: #f8b3d0;">
            <div class="container px-4 px-lg-5 my-3">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Rosamenina Stock</h1>
                    <p class=" fw-semibold text-white mb-0">Gerenciador de vendas</p>
                </div>
            </div>
        </header>
        
        <section class="py-4">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100 Small shadow">
                            {% if product.on_sale %}
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            {% endif %}
                            <img class="card-img-top" src="{{ product.imagem.url }}" alt="{{ product.nome }}" />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ product.nome }}</h5>
                                    {{ product.cor }} </br>
                                    {% if product.on_sale %}
                                    <span class="text-muted text-decoration-line-through">${{ product.original_price }}</span>
                                    ${{ product.sale_price }}
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn mt-auto" style="background-color: #f188b4; color: #fff;" href="{% url 'productview' product.id %}">Checkout <strong>R${{ product.preco }}</strong></a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
    </body>
</html>
